<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial scale=1.0">
    <title>Ascii_art_web</title>

</head>

<body style="text-align: center;">
    <h1 class="heading">ASCII ART WEB</h1>
    <form method="post" action="/ascii">
        <textarea name="text" placeholder="enter your text here" maxlength="1000" required></textarea>
        <br>
        <label for="standard">standard</label>
        <input type="radio" name="banner" value="standard" id="standard" checked>
        <label for="shadow">shadow</label>
        <input type="radio" name="banner" value="shadow" id="shadow">
        <label for="thinkertoy">thinkertoy</label>
        <input type="radio" name="banner" value="thinkertoy" id="thinkertoy">
        <br>
        <br>
        <button type="submit">generate ascii art</button>
        <button type="reset">delete all</button>

        <pre>{{.}}</pre>
        <br>
        <button>
            <a href="/"> Home</a>
        </button>
    </form>

</body>

</html>